<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-body">
      <div class="main">
        <div class="login">
          <form (ngSubmit)="onLogin()">
            <!-- username field -->
            <input
              type="text"
              name="UserName"
              #UserName="ngModel"
              [(ngModel)]="loginObj.UserName"
              placeholder="Username"
              placeholder="Username"
              minlength="8"
              required
            />
            <div
              class="text-danger"
              *ngIf="
                (UserName.invalid && (UserName.touched || UserName.dirty)) ||
                issubmit
              "
            >
              <span *ngIf="UserName.errors?.['required']"
                >This is required</span
              >
              <span *ngIf="UserName.errors?.['minlength']"
                >Min 8 characters needed</span
              >
            </div>

            <!-- password field -->
            <input
              type="password"
              #Password="ngModel"
              name="Password"
              [(ngModel)]="loginObj.Password"
              placeholder="Password"
              minlength="8"
              required
            />
            <div
              class="text-danger"
              *ngIf="
                (Password.invalid && (Password.touched || Password.dirty)) ||
                issubmit
              "
            >
              <span *ngIf="Password.errors?.['required']"
                >This is required</span
              >
              <span *ngIf="Password.errors?.['minlength']"
                >Min 8 characters needed</span
              >
            </div>

            <!-- login btn -->
            <button type="submit">Login</button>
          </form>
          <p>Not a member? <a href="/register">SignUp</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
