<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="margin: 0px !important">
    <div class="signup-body">
      <div class="main">
        <div class="signup">
          <form (ngSubmit)="handleEditProfile()">
            <input
              type="text"
              name="userName"
              #userName="ngModel"
              [(ngModel)]="editProfileObj.userName"
              placeholder="Username"
              minlength="8"
              required
              disabled
            />
            <div
              class="text-danger"
              *ngIf="
                (userName.invalid && (userName.touched || userName.dirty)) ||
                issubmit
              "
            >
              <span *ngIf="userName.errors?.['required']"
                >This is required</span
              >
              <span *ngIf="userName.errors?.['minlength']"
                >Min 8 characters needed</span
              >
            </div>
            <input
              type="text"
              name="firstName"
              #firstName="ngModel"
              [(ngModel)]="editProfileObj.firstName"
              placeholder="First name"
              required
            />
            <div
              class="text-danger"
              *ngIf="
                (firstName.invalid && (firstName.touched || firstName.dirty)) ||
                issubmit
              "
            >
              <span *ngIf="firstName.errors?.['required']"
                >This is required</span
              >
            </div>
            <input
              type="text"
              #lastName="ngModel"
              name="lastName"
              [(ngModel)]="editProfileObj.lastName"
              placeholder="Last name"
              required
            />
            <div
              class="text-danger"
              *ngIf="
                (lastName.invalid && (lastName.touched || lastName.dirty)) ||
                issubmit
              "
            >
              <span *ngIf="lastName.errors?.['required']"
                >This is required</span
              >
            </div>
            <input
              type="email"
              name="email"
              #email="ngModel"
              [(ngModel)]="editProfileObj.email"
              placeholder="Email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
            />
            <div
              class="text-danger"
              *ngIf="
                (email.invalid && (email.touched || email.dirty)) || issubmit
              "
            >
              <span *ngIf="email.errors?.['required']">This is required</span>
              <span *ngIf="email.errors?.['pattern']"
                >Email is not in valid form</span
              >
            </div>
            <button type="submit">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
