<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-body">
      <div class="main">
        <div class="login">
          <form (ngSubmit)="handleChangePassword()">
            <!-- current password field -->
            <input
              type="password"
              #currentPassword="ngModel"
              name="currentPassword"
              [(ngModel)]="changePwObj.currentPassword"
              placeholder="Current Password"
              minlength="8"
              required
            />
            <div
              class="text-danger"
              *ngIf="
                (currentPassword.invalid &&
                  (currentPassword.touched || currentPassword.dirty)) ||
                issubmit
              "
            >
              <span *ngIf="currentPassword.errors?.['required']"
                >This is required</span
              >
              <span *ngIf="currentPassword.errors?.['minlength']"
                >Min 8 characters needed</span
              >
            </div>

            <!-- new password field -->
            <input
              type="password"
              #newPassword="ngModel"
              name="newPassword"
              [(ngModel)]="changePwObj.newPassword"
              placeholder="New Password"
              minlength="8"
              required
            />
            <div
              class="text-danger"
              *ngIf="
                (newPassword.invalid &&
                  (newPassword.touched || newPassword.dirty)) ||
                issubmit
              "
            >
              <span *ngIf="newPassword.errors?.['required']"
                >This is required</span
              >
              <span *ngIf="newPassword.errors?.['minlength']"
                >Min 8 characters needed</span
              >
            </div>

            <!-- confirm password feild -->
            <input
              type="password"
              #confirmPassword="ngModel"
              name="confirmPassword"
              [(ngModel)]="changePwObj.confirmPassword"
              placeholder="Enter new password again"
              minlength="8"
              required
            />
            <div
              class="text-danger"
              *ngIf="
                (confirmPassword.invalid &&
                  (confirmPassword.touched || confirmPassword.dirty)) ||
                issubmit
              "
            >
              <span *ngIf="confirmPassword.errors?.['required']"
                >This is required</span
              >
              <span *ngIf="confirmPassword.errors?.['minlength']"
                >Min 8 characters needed</span
              >
            </div>

            <!-- change pw btn -->
            <button type="submit">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
